*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Composition/nbproject/private/
/Composition/build/
/Composition/dist/
/Collections/nbproject/private/
/Collections/build/
/Collections/dist/
/Streams/nbproject/private/
/Streams/build/
/Streams/dist/
/JFXHelloWord/nbproject/private/
/JFXHelloWord/build/
/JFXHelloWord/dist/
/Persons/nbproject/private/
/Persons/build/
/Persons/dist/
/derbyDB/target/
/ThreadHW/nbproject/private/
/ThreadHW/build/
/ThreadHW/dist/
/PointClient/nbproject/private/
/PointClient/build/
/PointClient/dist/
/PointServer/nbproject/private/
/PointServer/build/
/PointServer/dist/
/Scanner/nbproject/private/
/Scanner/build/
/Scanner/dist/

